@font-face {
  font-family: "Inter Tight";
  src: url("../font/InterTight-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Inter Tight";
  src: url("../font/InterTight-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Inter Tight";
  src: url("../font/InterTight-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter Tight";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/* ul li {
  list-style: none;
} */
a {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.navbar {
  display: flex;
  margin-top: 14px;
  padding: 16px 40px;
  border: 1px solid #ebebeb;
  border-radius: 24px 0px;
  justify-content: space-between;
}
.nav_navbar {
  display: flex;
  gap: 30px;
  padding-top: 5px;
  list-style: none;
  align-items: center;
  background-color: white;
  text-align: center;
  
}
ul li a {
  display: flex;
  padding: 3px 5px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #535862;
}
ul li a:hover {
  background: #fef5ec;
  color: #f39317;
}
.hamburger-btn {
  background: transparent;
  border: none;
  margin-left: auto;
  display: none;
}
.hamburger-btn img {
  width: 20px;
}
select {
  border: none;
  padding: 10px;
  font-size: 16px;
}
.hero {
  padding: 138px 0px 220px 0px;
  width: 100%;
  background: url("../img/Background_pattern.svg");
}
.hero_elments {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero_title {
  border: none;
  width: 100%;
  max-width: 254px;
  border-radius: 40px;
  padding: 12px 16px;
  background-color: #e0ff00;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  color: #020202;
}
.hero_text {
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  color: #020202;
  padding-top: 32px;
}
.hero_btn {
  display: flex;
  align-items: center;
  padding: 6px 6px 6px 32px;
  gap: 16px;
  margin-top: 32px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  border-radius: 24px;
  background: linear-gradient(to right, #f9b513, #ea601e);
  box-shadow: 0px 20px 30px 0px #9437055d;
}
.cards {
  display: flex;
  gap: 28px;
  margin-top: 135px;
  margin-bottom: 135px;
}
.card {
  width: 100%;
  max-width: 308px;
  height: 150px;
  padding: 24px;
  background-color: #e0ff00;
  border-radius: 24px;
}
.card_text {
  font-weight: 500;
  font-size: 16px;
  color: #020202;
  padding-top: 16px;
}

.feedbek_bag {
  width: 100%;
  padding: 48px;
  border-radius: 32px;
  background: #f5a838 url("../img/feedbek_bagc.svg") center center;
  background-size: contain;
}
.feedbek_cards {
  display: flex;
  gap: 30px;
}
.feedbek_card {
  width: 100%;
  max-width: 384px;
  height: 145px;
  padding: 24px;
  border-radius: 24px;
  background-color: white;
  border: 1px solid white;
}
.feedbek_card p {
  font-weight: 500;
  font-size: 24px;
  color: black;
  padding-top: 20px;
}
.feedbek_titles {
  display: flex;
  gap: 16px;
  padding-top: 64px;
}
.feedbek_titles hr {
  opacity: 1;
  width: 100%;
  max-width: 2px;
  border: none;
  background-color: white;
}
.feedbek_titles h1 {
  align-items: center;
  width: 100%;
  max-width: 693px;
  font-weight: 500;
  font-size: 40px;
  color: white;
}
.fedbek-btn {
  width: 100%;
  max-width: 245px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 6px;
  gap: 16px;
  border-radius: 24px;
  background-color: white;
  margin-top: 40px;
  box-shadow: 0px 20px 20px 0px #94370573;
  font-weight: 600;
  font-size: 20px;
  color: #f28e46;
}

.main_texts {
  /* padding: 0px; */
  display: flex;
  gap: 24px;
  margin-top: 80px;
}
.main_texts hr {
  width: 100%;
  max-width: 2px;
  border: none;
  background-color: #ea601e;
}
.main_texts h1 {
  width: 100%;
  max-width: 274px;
  font-weight: 600;
  font-size: 40px;
}
.partnior-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 80px;

  /* gap: 24px;  */
  /* padding: 40px 80px ; */
}
.partnior_card {
  width: 100%;
  max-width: 628px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  padding-top: 52px;
  padding-bottom: 52px;
  border-radius: 32px;
  background: #f9f9f9 url("../img/feedbek_bagc.svg");
  background-color: #f9f9f9;
}
.partnior_card a {
  width: 100%;
  max-width: 204px;
  height: 64px;
  border-radius: 24px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 30px 0px #94370522;
  color: #ea601e;
  font-weight: 600;
  font-size: 20px;
}

.main_ideas_text {
  margin-top: 24px;
  display: flex;
  gap: 24px;
}
.main_ideas_text h1 {
  width: 100%;
  max-width: 742px;
  font-weight: 600;
  font-size: 40px;
  color: #020202;
}
.main_ideas_text hr {
  width: 100%;
  max-width: 2px;
  border: none;
  background-color: #ea601e;
}
.main-directions {
  display: block;
  height: 924px;
  /* border: 1px solid red; */
  padding: 0px;
  position: relative;
  background: url("../img/main_orqa.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  pointer-events: none;
}

.main_direction_img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_direction_img img {
  width: 100%;
  max-width: 344px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 80%);
}
.main_direction_left {
  position: absolute;
  top: 35%;
}
.left_top_text {
  display: flex;
  margin-bottom: 16px;
  gap: 16px;
}
.left_top_text p {
  font-weight: 600;
  font-size: 40px;
  color: #f28e46;
}
.left_top_text hr {
  width: 2px;
  border: none;
  background-color: #f28e46;
}
.left_top_text h4 {
  font-weight: 600;
  font-size: 40px;
  color: #020202;
}
.left_botom p {
  width: 100%;
  max-width: 397px;
  font-weight: 400;
  font-size: 20px;
  color: #535862;
  margin-top: -70px;
}

.left_botom a {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 210px;
  padding: 4px 4px 4px 24px;
  border: 1px solid #f28e46;
  border-radius: 12px;
  font-weight: 600;
  font-size: 16px;
  color: #f28e46;
  margin-top: 24px;
}
.main_direction_right_top {
  position: absolute;
  left: 55%;
  top: 6%;
}
.right_top {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  margin-left: 180px;
}
.right_top p {
  font-weight: 600;
  font-size: 40px;
  color: #f28e46;
}
.right_top hr {
  width: 2px;
  border: none;
  background-color: #f28e46;
}
.right_top h4 {
  font-weight: 600;
  font-size: 40px;
  color: #020202;
}
.right_bottom {
  margin-top: -120px;
  margin-left: 170px;
}
.right_bottom p {
  width: 100%;
  max-width: 397px;
  font-weight: 400;
  font-size: 20px;
  color: #535862;
}
.right_bottom a {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 210px;
  padding: 4px 4px 4px 24px;
  border: 1px solid #f28e46;
  border-radius: 12px;
  font-weight: 600;
  font-size: 16px;
  color: #f28e46;
  margin-top: 24px;
}
.main_direction_right_bottom {
  position: absolute;
  left: 53%;
  top: 70%;
}
.bottom_top {
  display: flex;
  gap: 16px;
  margin-left: 200px;
  margin-bottom: -110px;
}
.bottom_top hr {
  width: 2px;
  border: none;
  background-color: #f28e46;
}
.bottom_top p {
  font-weight: 600;
  font-size: 40px;
  color: #f28e46;
}
.bottom_top h4 {
  font-weight: 600;
  font-size: 40px;
  color: #020202;
}
.bottom_bottom {
  margin-left: 200px;
  margin-top: 24px;
}
.bottom_bottom p {
  width: 100%;
  max-width: 397px;
  font-weight: 400;
  font-size: 20px;
  color: #535862;
}
.bottom_bottom a {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 210px;
  padding: 4px 4px 4px 24px;
  border: 1px solid #f28e46;
  border-radius: 12px;
  font-weight: 600;
  font-size: 16px;
  color: #f28e46;
  margin-top: 24px;
}

.main_text_content {
  width: 100%;
  margin-top: 50px;
  padding: 40px;
  display: flex;
  gap: 24px;
  border-radius: 32px;
  background: #f5a838 url("../img/feedbek_bagc.svg") center center;
  background-size: contain;
}
.main_text_content hr {
  width: 100%;
  max-width: 2px;
  color: white;
  border: none;
  background-color: white;
  /* border: 0px; */
}
.main_text_content_title {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.main_text_content_title p {
  font-weight: 500;
  font-size: 24px;
  color: white;
}
.main-partners {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 80px;
}
.partners_top,
.partners_bottom {
  overflow: hidden;
}
.slider {
  display: flex;
  gap: 18px;
  animation: scroll 30s linear infinite;
}
.slider.reverse {
  animation-direction: reverse;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.parfolio_btn {
  width: auto;
  display: flex;
  gap: 16px;
  font-weight: 600;
  color: white;
  font-size: 20px;
  align-items: center;
  border-radius: 24px;
  padding: 6px 6px 6px 32px;
  margin-top: 40px;
  background-color: #f28e46;
}
.main_youtube_titles {
  width: 100%;
  max-width: 542px;
  display: flex;
  gap: 24px;
  margin-top: 90px;
}
.main-youtube p {
  width: 100%;
  max-width: 297px;
  margin-top: 40px;
  font-weight: 500;
  font-size: 24px;
  color: #020202;
}
.main_youtube_titles hr {
  width: 100%;
  max-width: 2px;
  border: none;
  background-color: #f28e46;
}
.main_youtube_titles h1 {
  font-weight: 600;
  font-size: 40px;
  color: black;
}
.youtube {
  width: 100%;
  height: 415px;
  border-radius: 24px;
  margin-top: 80px;
}
.youtube_icon {
  display: flex;
  gap: 16px;
  margin-top: 40px;
}
.main_logopitizm_fa {
  width: 100%;
  margin-top: 80px;
  background: #f5a838 url("../img/feedbek_bagc.svg") center center;
  background-size: contain;
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: 24px;
  padding: 40px;
}
.main_logopitizim_text {
  width: 100%;
  max-width: 872px;
  display: flex;
  gap: 24px;
}
.main_logopitizim_text p {
  font-weight: 500;
  font-size: 32px;
  color: white;
}
.main_logopitizim_text hr {
  width: 2px;
  border: none;
  color: white;
  background-color: white;
}
.logotipizm {
  width: 100%;
  max-width: 38px;
}
.main-teachers {
  display: block;
}
.techers_cards {
  display: flex;
  gap: 16px;
  margin-top: 80px;
}
.teacher_card img {
  width: 100%;
  max-width: 300px;
  border-radius: 24px;
}
.teacher_card p {
  font-weight: 600;
  font-size: 18px;
  color: #020202;
  padding-top: 16px;
}
.mian-techers-mini {
  display: none;
}
.main_title_yoshlar {
  display: flex;
  margin-top: 80px;
  gap: 24px;
}
.main_title_yoshlar hr {
  width: 2px;
  border: none;
  background-color: #f28e46;
}
.yoshlar {
  color: #f28e46;
  font-weight: 600;
}
.main_title_yoshlar h1 {
  width: 100%;
  max-width: 616px;
  font-weight: 500;
  color: #020202;
  font-size: 40px;
}
.main-text-yoshlar p {
  width: 100%;
  max-width: 616px;
  font-weight: 400;
  font-size: 20px;
  color: #535862;
  margin-top: 40px;
}
.main_end_texts {
  width: 100%;
  margin-top: 80px;
  background: #f5a838 url("../img/feedbek_bagc.svg") center center;
  background-size: contain;
  align-items: center;
  gap: 24px;
  border-radius: 24px;
  padding: 40px;
  margin-bottom: 80px;
}
.end_title {
  display: flex;
  gap: 24px;
}
.end_title hr {
  width: 2px;
  background-color: white;
  border: none;
}
.end_text {
  width: 100%;
  max-width: 1000px;
  font-weight: 600;
  font-size: 40px;
  color: white;
}
.ariza_end {
  width: 100%;
  max-width: 230px;
  gap: 16px;
  justify-content: end;
  padding: 4px 6px 4px 0px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  color: #020202;
  font-size: 20px;
  font-weight: 600;
  background-color: white;
  border-radius: 24px;
}
/* //////////////////// footer */
footer {
  padding: 32px 0px;
  background-color: #020202;
}
.footer-cards {
  display: flex;
  justify-content: space-between;
  /* padding: 0px; */
}
.footer_logo_btn {
  display: flex;
  align-items: start;
  gap: 256px;
}
.footer_logo_btn button {
  display: flex;
  align-items: center;
  background-color: white;
  color: #020202;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  padding: 8px 14px;
}
.footer_informeshion {
  display: flex;
  gap: 110px;
  margin-top: 40px;
}
.informashion_connection {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 284px;
}
.informashion_suport {
  display: flex;
  align-items: center;
  gap: 24px;
}
.informashion_suport a {
  font-weight: 400;
  font-size: 18px;
  color: white;
}
.suport_text {
  font-weight: 400;
  font-size: 18px;
  color: white;
  text-decoration: underline;
}
.informashion_titles {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.informashion_title {
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.footer-icons {
  display: flex;
  gap: 24px;
  margin-top: 8px;
}
.footer-hr {
  width: 100%;
  margin-top: 32px;
}
.footer-end {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: 500;
  font-size: 18px;
}
.footer_end_right {
  display: flex;
  gap: 32px;
}
.footer_end_left {
  display: flex;
  gap: 32px;
}
.footer_map {
  display: flex;
  justify-content: end;
}
.main-directions-mini {
  display: none;
}
.logo {
  display: flex;
  display: none;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 18px;
}
.close-btn {
  display: none;
}
.logo img {
  height: 24px;
}
.nav-menu {
}
.nav-menu li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
.phone_logo {
  display: none;
}

/* ///////////////////   RESPOMSIVE */

@media screen and (max-width: 500px) {
  .nav_navbar {
    margin-top: 50px;
    flex-direction: column;
    align-items: start;
  }
  .hamburger-btn {
    display: block;
    margin: 0;
    padding-top: 3px;
  }
  .nav-menu {
    display: none;
  }
  .close-btn {
    display: block;
  }
  .logo {
    display: block;
  }
  .nav-menu.open {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
    background: #fff;
    padding: 24px;
    /* z-index: 1000; */
    /* gap: 24px; */
  }
  .phone_logo {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
  }

  .nav-menu .menu-header .close-btn {
    background: none;
    border: none;
    padding: 4px;
    cursor: pointer;
  }
  .nav-menu li a {
    font-size: 18px;
    color: #333;
  }
  ul {
    display: none;
  }
  select {
    margin-left: 90px;
  }
  /* //////////////////////// main  */
  .hero {
    padding: 50px 0px;
  }
  .hero_text {
    font-size: 30px;
  }
  .hero_btn {
    font-size: 16px;
    border-radius: 18px;
  }
  .hero_btn img {
    max-width: 38px;
  }
  .cards {
    margin-top: 50px;
    margin-bottom: 50px;
    /* padding: 0px 0px 50px 0px; */
    flex-direction: column;
    align-items: center;
  }
  .card {
    padding: 8px;
    max-width: 398px;
    height: 99px;
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .card img {
    width: 100%;
    max-width: 83px;
  }
  .card_text {
    padding: 0px;
    font-size: 20px;
  }
  .feedbek_bag {
    width: 100%;
    padding: 16px;
  }
  .feedbek_cards {
    flex-direction: column;
    gap: 16px;
  }
  .feedbek_card {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 24px 16px;
    width: 100%;
    max-width: 396px;
    height: 96px;
  }
  .feedbek_card p {
    font-size: 24px;
    padding: 0px;
  }
  .feedbek_titles {
    margin-top: 32px;
    padding: 0px;
  }
  .feedbek_titles h1 {
    font-size: 20px;
  }
  .main_texts {
    /* padding: 0px 16px; */
    margin-top: 60px;
  }
  .main_texts h1 {
    font-size: 30px;
  }
  .partnior-cards {
    padding: 50px 16px;
    gap: 24px;
    flex-direction: column;
  }
  .main_ideas_text {
    margin-top: 50px;
  }
  .main_ideas_text h1 {
    font-size: 30px;
  }
  .main-ideas {
    padding: 0px 16px;
  }
  .main_text_content {
    border-radius: 24px;
    padding: 20px;
  }
  .main_text_content_title {
    gap: 16px;
  }
  .slider {
    animation: scroll 15s linear infinite;
  }
  .slider.reverse {
    animation-direction: reverse;
  }
  .mini_img {
    width: 100%;
    max-width: 430px;
    height: 355px;
    padding: 0px;
    position: relative;
    background: url("../img/main_orqa.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mini_img img {
    width: 100%;
    max-width: 187px;
    height: 185px;
  }
  .main_text_content_title p {
    font-weight: 500;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
  }
  .brr {
    display: none;
  }
  .main-directions {
    display: none;
  }
  .main-directions-mini {
    display: block;
    padding: 0px 16px;
  }
  .text_mini {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .text_mini p {
    font-weight: 600;
    font-size: 40px;
    color: #f28e46;
  }
  .text_mini hr {
    width: 2px;
    height: 48px;
    border: none;
    background-color: #f28e46;
  }
  .text_mini h4 {
    font-weight: 600;
    font-size: 40px;
    color: #020202;
  }
  .text_mini_hr {
    width: 2px;
    border: none;
    background-color: #f28e46;
  }
  hr {
    margin-top: 16px;
    border: none;
    background-color: #f28e46;
  }
  .text_mini_bottom p {
    width: 100%;
    max-width: 320px;
    font-weight: 400;
    font-size: 20px;
    color: #535862;
    margin-top: 24px;
  }
  .mini_cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .text_mini_bottom a {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 210px;
    padding: 4px 4px 4px 24px;
    border: 1px solid #f28e46;
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    color: #f28e46;
    margin-top: 24px;
  }
  .main-partners {
    margin-top: 32px;
  }
  .parfolio_btn {
    margin-top: 24px;
  }
  .main-youtube {
    /* padding: 0px 16px; */
  }
  .main_youtube_titles {
    gap: 12px;
    margin-top: 50px;
  }
  .main_youtube_titles h1 {
    font-size: 30px;
    width: 100%;
  }
  .main-youtube p {
    margin-top: 24px;
  }
  .youtube {
    width: 100%;
    height: 153px;
    margin-top: 32px;
  }
  .youtube_icon {
    margin-top: 32px;
  }
  .main_logopitizm_fa {
    margin-top: 32px;
    padding: 16px;
  }
  .main_logotipizm_img {
    width: 100%;
    max-width: 88px;
  }
  .main_logopitizim_text p {
    font-size: 16px;
  }
  .logotipizm {
    width: 100%;
    max-width: 18px;
  }
  .main-teachers {
    display: none;
  }
  .mian-techers-mini {
    display: block;
    overflow: hidden;
  }
  .techers_cards_mini {
    display: flex;
    margin-top: 32px;
    gap: 16px;
    flex-wrap: nowrap;
    width: max-content;
    animation: scroll-left 25s linear infinite;
  }
  .teacher_card_mini img {
    border-radius: 24px;
  }
  .teacher_card_mini p {
    font-weight: 600;
    font-size: 18px;
    color: #020202;
    margin-top: 12px;
  }
  @keyframes scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  .main_title_yoshlar {
    margin-top: 50px;
  }
  .main_title_yoshlar h1 {
    font-size: 30px;
    width: 100%;
  }
  .main_title_yoshlar p {
    font-size: 12px;
    margin-top: 20px;
  }
  .main_end_texts {
    margin-top: 20px;
    margin-bottom: 60px;
    padding: 16px;
  }
  .end_text {
    font-size: 16px;
  }
  .ariza_end {
    width: 100%;
    max-width: 200px;
    font-size: 16px;
    margin-top: 24px;
    border-radius: 16px;
  }

  /* //////////////  footer */

  .footer_logo_btn {
    flex-direction: column;
    gap: 32px;
  }
  .footer_informeshion {
    flex-direction: column;
    flex-direction: column-reverse;
    gap: 32px;
  }
  .footer-cards {
    flex-direction: column;
    width: 100%;
  }
  .footer_map {
    padding: 0px;
  }
  .footer_map iframe {
    width: 100%;
    height: 344px;
  }
  .footer-icons {
    padding: 32px 0px;
  }
  .footer-end {
    font-size: 12px;
    flex-direction: column;
    gap: 8px;
  }
  .footer-hr {
    margin-top: 32px 0px;
  }
  footer {
    padding: 32px 16px;
  }
}
